@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}

/* top style start */
.top{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1440px;
}


.top h1{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 800;    
}



.top button{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;  
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 195, 195);
    opacity: 0.7;
    border-radius: 5px;
}

/* top style end */
/* headerstylestart */
header{
    max-width: 1440px;
    height: 652px;    
    background-image: url(assets/Hero-bg.png);
    margin: 0 auto;
    border: 4px rgb(206, 204, 204) dashed;
}
.headerimg{
    max-width: 240.28px;
    height: 240px;  
    padding-top: 24px;  
    padding-left: 599.86px;
}
.headerdescription{
    max-width: 998px;
    height: 310px; 
    padding-top: 32px;   
    padding-left: 221px;
    text-align: center;
}
.headerdescription h3{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;    
}
.headerdescription .comfort{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 24px;

}

.headerdescription button{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;  
    padding: 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);

}
/* headerstyleend */

/* main01stylsstart */
.borderdiv{
    max-width: 1140px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    height: 1395px;
    margin: 100px auto;
}
.whyweb{
    max-width: 946px;
    height: 1235px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);   
    padding: 80px 97px; 
    
    
}
.heading{
    max-width: 852px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
}
.heading h1{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;   
    margin-top: 0px; 

}
.heading p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;    
}
/* main01stylend */


/* main02stylsstart */
.iwilldoborder{
    max-width: 946px;
    height: 336px;  
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);      
    background-image: linear-gradient(rgb(255, 255, 255)
    rgba(255, 255, 255, 0));
    e;
    
}
.iwilldo{
    display: flex;
    
    
    
}
.iwilldo .description{
    
    max-width: 477px;
    height: 220px;     
    
}

.iwilldo .description h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;  
    
}
.iwilldo .description p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400; 
    opacity: 0.7;
   
}
.iwilldo button{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;  
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 195, 195);
    opacity: 0.7;
    border-radius: 5px;
 
}
.iwilldo .img{
    max-width: 274.17px;
    height: 240px;   
    margin-left: 95px; 
   
}
/* main02stylsend*/

/* main03stylstart*/

.iwillhelpborder{
    max-width: 946px;
    height: 336px;  
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);      
    background-image: linear-gradient(rgb(255, 255, 255)
    rgba(255, 255, 255, 0));
    margin-top: 32px;
}
.iwillhelp{
    display: flex;
    margin-top: 48px;
    
    
}
.iwilhelp .description{
    
    max-width: 477px;
    height: 220px;     
    
}

.iwillhelp .description h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;  
    
}
.iwillhelp .description p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400; 
    opacity: 0.7;
   
}
.iwillhelp button{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;  
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 195, 195);
    opacity: 0.7;
    border-radius: 5px;

}
.iwillhelp .img{
    max-width: 274.17px;
    height: 240px;   
    margin-right: 32px; 
}

/* main03stylsend*/

/* main04stylsstart*/

.iwilldoborder{
    max-width: 946px;
    height: 336px;  
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);      
    background-image: linear-gradient(rgb(255, 255, 255)
    rgba(255, 255, 255, 0));
    margin-top: 32px;
}
.iwilldo{
    display: flex;
    margin-top: 48px;
    
    
}
.iwilldo .description{
    max-width: 477px;
    height: 220px;     
    
}

.iwilldo .description h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;  
    
}
.iwilldo .description p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400; 
    opacity: 0.7;
   
}
.iwilldo button{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;  
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 195, 195);
    opacity: 0.7;
    border-radius: 5px;
 
}
.iwilldo .img{
    max-width: 274.17px;
    height: 240px;   
    margin-left: 95px; 
}


/* main04 stylsend*/


/* inspiration stylsstart*/
.inspiration{
    max-width: 852px;
    height: 213px;
    text-align: center;
    margin-top: 88px;
    margin: 0 auto;
}
.inspiration h1{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;    
}
.inspiration p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;  
    opacity: 0.7;
  
}
/* inspiration style end*/

/* iframestyle start */

.iframe{
    max-width: 1140px;
    height: 614px;
    margin: 50px auto;
    border: 1px solid rgb(221, 216, 216);
    border-radius: 10px;
    margin-bottom: 150px;
    
}
iframe{
    margin: 32px;
}
/* iframe style end */

/* current target style start */

.target{
    max-width: 946px;
    height: 113px; 
    margin: 50px auto;   
    text-align: center;
}
.target h1{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;
}
.target p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}




/* current target style end */

/* advance language styles start */
.advancelanguage{
    max-width: 1140px;
    height: 705px;
    margin: 0px auto;
}



.react{
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1140px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}

.react h2{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.react p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;  
    opacity: 0.7;
}
.react a{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}





.node{
    max-width: 1140px;
    height: 219px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}

.node h2{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.node p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;  
    opacity: 0.7;
}
.node a{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}




.mongodb{
    max-width: 1140px;
    height: 219px;
    display: flex;
    align-items: center;
    gap: 87px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 40px;

}

.mongodb h2{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.mongodb p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;  
    opacity: 0.7;
}
.mongodb a{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.advancelanguage img{
    padding-left: 40px;
}

/* advance language styles end */



/* next target style start */
.nexttarget{
    max-width: 946px;
    height: 115px; 
    margin:0 auto;   
    margin-top: 200px;
    text-align: center;
}

.nexttarget h1{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;    
}
.nexttarget p{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;  
    opacity: 0.7;
  
}


/* next target style end */



.planguage{
    max-width: 1140px;
    height: 300px;   
    display: flex;
    margin: 30px auto;
    gap: 24px;
}
.planguage .html{
    max-width: 364px;
    height: 299px; 
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);  
    padding: 40px;
}
.planguage .css{
    max-width: 364px;
    height: 299px; 
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05); 
    padding: 40px;   
}
.planguage .js{
    max-width: 364px;
    height: 299px; 
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

.languagedescription{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;  

}
.languagenane{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 800;    
}
.planguage a{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

/* planguage style end */


/* support style start */
.support{
    max-width: 1140px;
    height: 313px;    
    background-image: url(assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
    margin: 200px auto;
    border-radius: 5px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    
    
}
.support h1{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    text-align: center;
    padding-top: 50px;
    
}
.support p{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400; 
    opacity: 0.7;
    text-align: center;
   
}
.inp{
    max-width: 698px;
    height: 57px; 
    box-sizing: border-box;
    /* border: 1px solid rgba(13, 19, 33, 0.15); */
    /* border-radius: 8px; */
    align-items: center;
    display: flex;
    gap:10px;
    margin-left: 220px;
    
}
.suggest{
    width: 548px;
    height: 50px;
    border-radius: 8px;
    color: rgba(13, 19, 33, 0.4);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;    
    border: none;
    padding-left: 20px;

}

.sub{
    width: 120px;
    height: 50px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background: rgb(255, 255, 255);;    
    border: none;    
}

/* support style end */

/* footer style start */
footer{
    max-width: 1440px;
    height: 100px;    
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 16px;
    align-items: center;
    background: rgba(13, 19, 33, 0.03);    
}
footer h1{
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600; 
    padding-left: 150px;   
}

.icons{
    /* gap: 24px; */
    padding-right: 150px;
}
.icons img{
    margin-left: 24px;
}
/* footer style end */

